.wd-kanbas-navigation {
    background-color: black;
    padding: 0;
    width: 100px;
    margin: 0;
}

.wd-kanbas-navigation li {
    list-style: none;
    font: 0.8em;
    margin-bottom: 10px;    
    text-align: center;
}

.wd-kanbas-navigation li.wd-active{
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a{
    color: red;
}

.wd-kanbas-navigation li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.wd-kanbas-navigation a i {
    color: red;
    font-size: 1.5em;
    margin-bottom: 5px;
}