.wd-dashboard {
    margin: 10px;
}


.wd-dashboard .content{
    margin: 10px;
}


.wd-dashboard-grid .col{
    width: 300px;
}

.wd-dashboard {
    width: 300px;
}

.card-img-top {
    background-color: #2474c4;
    height:150px;
}

.container {
    margin-bottom: 10px
}
 

.card {
    width: 300px;
}
